@font-face {
  font-family: IranSans;
  src: url(/src/Fonts/IranSansX/Webfonts/fonts/woff/IRANSansX-Medium.woff);
}

* {
  padding: 0;
  margin: 0;
  font-family: IranSans;
}

h1 {
  font-size: var(--fontXl);
}

h2 {
  font-size: var(--fontMdBold);
}

h3 {
  font-size: var(--fontMd);
}

p {
  font-size: var(--fontSm);
}

li {
  font-size: var(--fontSm);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: goldenrod;
}

html,
body {
  position: relative;
}

body {
  min-width: 300px;
  background-repeat: no-repeat;
  color: white;
  background-color: #161616;
}

button {
  font-size: var(--fontSm);
  background-color: rgba(100, 109, 106, 0);
  color: gold;
  transition: 0.3s;
  width: 12%;
  border-radius: 8px;
  border: 1px solid goldenrod;
  padding: 1vw;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.068);
  box-shadow: #ffef0c 0px 1vw 1vw -15 px;
}

.mainDivCardPagtion {
  background-color: #2c2c2c;
}

@media only screen and (max-width: 576px) {
  :root {
    --fontSm: 3.5vw;
    --fontMd: 3.75vw;
    --fontMdBold: 4.25vw;
    --fontXl: 7vw;
  }
}

@media only screen and (min-width: 576px) {
  :root {
    --fontSm: 1.5vw;
    --fontMd: 2vw;
    --fontMdBold: 2.5vw;
    --fontXl: 5vw;
  }
}

.NavBar {
  background-color: rgba(0, 0, 0, 0.425);
  transition: 1s;
  top: 0;
}

.NavBar a {
  padding: 1vw;
  color: rgba(255, 255, 255, 0.651);
}

.NavBar a:hover {
  color: white;
}

.NavBar .HumbergerBtn {
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 3%;
  margin: 2vw;
  display: flex;
  justify-content: flex-end;
}

.NavBar .HumbergerBtn button {
  position: absolute;
  right: 0;
  width: 35px;
  text-align: center;
  font-size: var(--fontMdBold);
}

@media only screen and (max-width: 576px) {
  .NavBar {
    z-index: 1112;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: -100%;
    background-color: black;
  }
  .NavBar li {
    text-align: center;
  }
}

.Close {
  z-index: 112;
  left: -100%;
}

.Open {
  z-index: 112;
  left: 0;
}

.Header .mainDiv .divItem {
  position: relative;
}

.Header .mainDiv .divItem .imgItem {
  position: relative;
  object-fit: scale-down;
}

.Header .mainDiv .divItem .divOverlay {
  background-color: rgba(26, 25, 25, 0.733);
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  display: none;
}

.Header .mainDiv .divItem .divOverlay p {
  font-size: var(--fontSm);
}

.Header .mainDiv .divItem:hover .divOverlay {
  display: block;
}

.Header .mainDiv .divItem a {
  color: white;
}

.Header .mainDiv .divItem a:hover {
  color: goldenrod;
}

@media only screen and (max-width: 570px) {
  .Header .mainDiv .divItem {
    height: 18%;
    width: 47%;
  }
}

@media only screen and (min-width: 570px) {
  .Header .mainDiv {
    height: 70vh;
  }
  .Header .mainDiv .divItem {
    width: 17%;
    height: 50%;
  }
}

.SectionsGenres .mainSection .divContCards {
  overflow-x: scroll;
}

.SectionsGenres .mainSection .divContCards .divCard {
  background-color: rgba(0, 0, 0, 0.39);
  height: auto;
}

.SectionsGenres .mainSection .divContCards .divCard .overlayCardsGenres {
  background-color: rgba(0, 0, 0, 0.63);
  opacity: 0;
  transition: 0.3s;
}

.SectionsGenres .mainSection .divContCards .divCard:hover .overlayCardsGenres {
  opacity: 1;
}

.SectionsGenres a {
  color: white;
}

.SectionsGenres a:hover {
  color: goldenrod;
}

@media only screen and (min-width: 576px) {
  .SectionsGenres .mainSection .divContCards {
    overflow-x: unset;
  }
}

.SideBar .CardSideBar .overlaySidebar {
  width: 100%;
  top: 75%;
  background-color: rgba(0, 0, 0, 0.548);
  display: flex;
  opacity: 0;
  transition: 0.3s;
  justify-content: center;
}

.SideBar .CardSideBar:hover .overlaySidebar {
  opacity: 1;
}

.SideBar a {
  color: white;
}

.SideBar a:hover {
  color: goldenrod;
}
/*# sourceMappingURL=base.css.map */